//- Created by MikaSpell on 16.01.17.

extends layouts/base

block title
  title startme 2.0 - simple starter kit for layouts

block content
  h1
    | StartMe&nbsp;
    span 2.0
  p
    | simple starter kit for layouts
    br
    | with gulp, pug and scss
  a(href="https://github.com/mikaspell/startme" target="_blank")
    span https://github.com/mikaspell/startme