//- Created by MikaSpell on 16.01.17.

extends layouts/base

block title
  title Стартовая страница StartMe

block content
  h1 Стартовая страница StartMe
  a(href="https://github.com/mikaspell/startme")
    img(src="/img/github.png" width="48")
    span https://github.com/mikaspell/startme