@font-face {
  font-family: 'UbuntuRegular';
  src: url('../../../fonts/ubuntu/ubuntu-r.eot');
  src: url('../../../fonts/ubuntu/ubuntu-r.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/ubuntu/ubuntu-r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}