//- Created by MikaSpell on 16.01.17.
doctype html
html(lang="ru")
  head
    block title
      title Стандартный заголовок
    include ../partials/system/styles

  body
    .wrapper
      block content
    include ../partials/system/scripts